.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Fonts */
@font-face {
  font-family: 'Amettasignature';
  src: url('./fonts/Amettasignature.ttf') format('truetype');
}

@font-face {
  font-family: 'AuthenticSignatureFont';
  src: url('./fonts/Authentic Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'DBHeaventBdv3.2';
  src: url('./fonts/DB Heavent Bd v3.2.ttf') format('truetype');
}

@font-face {
  font-family: 'EdwardSignature';
  src: url('./fonts/Edward Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'HeySunsetBrushFont';
  src: url('./fonts/Hey Sunset Brush Font.ttf') format('truetype');
}

@font-face {
  font-family: 'MagistaBrush';
  src: url('./fonts/Magista Brush.ttf') format('truetype');
}

@font-face {
  font-family: 'Silom';
  src: url('./fonts/Silom.ttf') format('truetype');
}

@font-face {
  font-family: 'ThreeSignature';
  src: url('./fonts/Three Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('./fonts/AmericanTypewriter.ttc') format('truetype');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-splash {
  background-color: #F9F8E6;
  background-image: url('../public/background/background.jpg');  
  background-size: cover;
  background-repeat: no-repeat; /* Adjust to your needs */  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(58, 58, 58);  
  padding: 20px; /* Adjust spacing */
  box-sizing: border-box; /* Include padding in element size */
}

.App-main {
  background-color: #F9F8E6;
  background-image: url('../public/background/bg_paper.jpg');
  background-size: 100% auto; /* ขยายความกว้างเท่ากับ viewport */
  background-repeat: no-repeat;
  min-height: 242vh; /* ให้ความสูงเท่ากับ viewport */
  width: 100vw; /* กำหนดความกว้างเท่ากับ viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(58, 58, 58);
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}



.App-link {
  color: #61dafb;
}

/* CSS ส่วนของ part-1 */
.part-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.you-are {
  font-family: 'HeySunsetBrushFont', sans-serif;
  font-size: 15px;
  /* ปรับแต่งค่าอื่นๆ ตามที่คุณต้องการ */
}

.the-wedding {
  font-family: 'HeySunsetBrushFont', sans-serif;
  font-size: 15px;
  /* ปรับแต่งค่าอื่นๆ ตามที่คุณต้องการ */
}

.part-1 .symbol1 {
  position: relative;
}

/* CSS ส่วนของ part-2 */
.part-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.part-2 .date-time {  
  width: 250px;
  text-align: left;
  position: absolute;
  z-index: 2;  
}

.date-time p {
  font-family: 'Silom', sans-serif;
  font-size: 12px;
}

.part-2 .hope-you .text4 {
  position: relative;
  display: flex;
  width: 300px;
  left: 20px;
  z-index: 1;
  opacity: 0.9;
  margin-top: 80px;
}

.part-2 .long-text {
  font-family: 'AmericanTypewriter', sans-serif;
  font-size: 12px;
  position: absolute;
  width: 250px;
  z-index: 2;  
  text-align: left;
  margin-left: -40px;
}

.part-2 .dear-people .text3 {
  width: 140px;
  position: absolute;
  display: flex;    
  z-index: 1;
  margin-left: -60px;
  margin-top: 15px;  
}

.part-2 .note1 {  
  font-family: 'AmericanTypewriter', sans-serif;
  font-size: 8px;
}
.symbol2-container {
  animation: heartbeat 1.5s infinite;
}

.symbol3-container {
  animation: heartbeat 2s infinite;
}

.date-time-heading {
  font-family: 'Silom', sans-serif; /* แทนที่ Your-Font-Family-Name ด้วยชื่อฟอนต์ที่ต้องการ */
  text-align: left;
  margin: 0;
}


/* CSS ส่วนของ part-3 */
.part-3 {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.part-3 .noonut img {
  position: relative;
  display: flex;
  width: 350px;  
  left: 0px;
  z-index: 50;
}

.part-3 .picture {
  position: absolute;  
  display: flex;
  justify-content: center;  
  z-index: 2;  
}

.part-3 .picture img {
  width: 250px;
  z-index: 1;
}

.pic_m {
  position: absolute;
  z-index: 1;  
}

.pic_l {
  position: absolute;
  top: 100;
  right: 35px;
  z-index: 1;
}

.pic_r {
  position: absolute;
  top: 100;
  left: 30px;
  z-index: 1;
}

.part-3 .map {
  position: relative;
}

.part-3 .note-2 {
  position: relative;
  
}

.part-3 .mapbutton {
  position: relative;  
}

.music-loop-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999; /* อัพเดตค่า z-index เพื่อให้ปุ่มอยู่ด้านหน้า */
}

.music-loop-button button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;  
}

.music-button {
  position: fixed;
  top: 10px;
  right: -150px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.music-button img {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 50;
}

/* Style for the auto scroll button */
.auto-scroll-button {
  position: fixed;
  top: 10px;
  left: -150px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.auto-scroll-button img {
  width: 24px;
  height: 24px;
}

/* Style for the play animation */
.music-loop-button button img.play {
  animation: menurotate 3s linear 0s infinite normal none running;
  width: 24px;
  height: 24px;
}

/* Style for the pause animation */
.music-loop-button button img.pause {
  animation: auto ease 0s 1 normal none running;
  width: 24px;
  height: 24px;
}


/* Part. 2 :: */
/* Animate Adding */
/* Define the rotation animation */
@keyframes menurotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding WaveText */
@-webkit-keyframes wave-text {
  00% {
      transform: translateY(0)
  }

  60% {
      transform: translateY(-.6em)
  }

  100% {
      transform: translateY(0)
  }
}

@keyframes wave-text {
  00% {
      transform: translateY(0)
  }

  60% {
      transform: translateY(-.6em)
  }

  100% {
      transform: translateY(0)
  }
}

/* Adding heartbeat */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Part. 3 :: */
/* Responsive Screen Setting */

/* Adding responsive styles for mini screens */
@media (max-width: 319px) {
  .App-header {
    font-size: 20px;
    /* padding: 10px; */
  }

  .App-logo {
    height: 30vmin;
  }
  
  .welcome-text {
    font-size: 80px;
    font-family: 'AuthenticSignatureFont';
  }

  /* อนิเมชั่นตัวอักษรเคลื่อนไหว */
  .waveTextAnimated span {
      display: inline-block;
      -webkit-animation: wave-text 1s ease-in-out infinite;
      animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }

  .part-1 {
    margin-top: -180px;
  }

  .part-1 .symbol1 {    
    width: 120px;
    top: 50px;
  }
 
  .part-2 .symbol2 {
    position: relative;  
    width: 100px;
    top: 160px;
  }
  .part-2 .date-time {     
    top: 520px;
    left: 15px;
      
  }  
  .date-time p {    
    font-size: 8px;
  }
  .part-2 .dear-people .text3 {
    width: 130px;
    top: 525px;
    right: 80px;
  }
  .part-2 .long-text {    
    font-size: 9px;    
    width: 280px;  
    top: 570px;
    margin-left: 30px;
  }
  .part-2 .hope-you .text4 {
    width: 265px;
    left: 10px;    
    top: 130px;
  }
  .part-2 .note1 {
    position: absolute;
    top: 810px;    
    font-size: 8px;
  }
  .part-2 .symbol3 {
    width: 50px;
    position: relative;
    top: 185px;
  }
  .part-3 .noonut img {
    width: 260px;  
    bottom: -220px;   
  }
  .part-3 .picture {
    bottom: -220px;    
    width: 300px; 
    gap: 20px; /* ระยะห่างระหว่างภาพ */    
  }
  .part-3 .picture img {
    width: 255px;    
  }
  .part-3 .map {
    bottom: -250px;
    width: 250px;  
  }
  .part-3 .note-2 {
    bottom: -250px;    
    font-size: 10px;
  }
  .part-3 .mapbutton {
    bottom: -250px;   
    width: 100px;
  }
}
/* Adding responsive styles for 320 screens */
@media (min-width: 320px) and (max-width: 479px) {
  .App-header {
    font-size: 20px;
    /* padding: 10px; */
  }

  .App-logo {
    height: 30vmin;
  }
  
  .welcome-text {
    font-size: 80px;
    font-family: 'AuthenticSignatureFont';
  }

  /* อนิเมชั่นตัวอักษรเคลื่อนไหว */
  .waveTextAnimated span {
      display: inline-block;
      -webkit-animation: wave-text 1s ease-in-out infinite;
      animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }

  .part-1 {
    margin-top: 0px;
  }

  .part-1 .you-are {
    position: relative;
    top: 130px;
  }

  .part-1 .the-wedding {
    position: relative;
    top: 150px;
  }

  .part-1 .symbol1 {    
    width: 120px;
    top: 180px;
  }
 
  .part-2 .symbol2 {
    position: relative;  
    width: 100px;
    top: 60px;
  }
  .part-2 .date-time {     
    top: 910px;
    left: 45px;      
  }  
  .date-time p {    
    font-size: 8px;
  }
  .part-2 .dear-people .text3 {
    width: 200px;
    top: 915px;
    right: 120px;
  }
  .part-2 .long-text {    
    font-size: 9px;    
    width: 280px;  
    top: 570px;
    margin-left: 30px;
  }
  .part-2 .hope-you .text4 {
    width: 265px;
    left: 10px;    
    top: 130px;
  }
  .part-2 .note1 {
    position: absolute;
    top: 810px;    
    font-size: 8px;
  }
  .part-2 .symbol3 {
    width: 50px;
    position: relative;
    top: 185px;
  }
  .part-3 .noonut img {
    width: 310px;  
    bottom: -530px;   
  }
  .part-3 .picture {
    bottom: -1130px;    
    width: 350px; 
    gap: 20px; /* ระยะห่างระหว่างภาพ */    
  }
  .part-3 .picture img {
    width: 300px;    
  }
  .part-3 .map {
    bottom: -650px;
    width: 320px;  
  }
  .part-3 .note-2 {
    bottom: -670px;    
    font-size: 10px;
  }
  .part-3 .mapbutton {
    bottom: -700px;   
    width: 160px;
  }
}

/* Adding responsive styles for 480 screens */
@media (min-width: 480px) and (max-width: 599px) {
  .App-header {
    font-size: 20px;
    /* padding: 10px; */
  }

  .App-logo {
    height: 30vmin;
  }
  
  .welcome-text {
    font-size: 80px;
    font-family: 'AuthenticSignatureFont';
  }

  /* อนิเมชั่นตัวอักษรเคลื่อนไหว */
  .waveTextAnimated span {
      display: inline-block;
      -webkit-animation: wave-text 1s ease-in-out infinite;
      animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }

  .part-1 {
    margin-top: -180px;
  }

  .part-1 .symbol1 {    
    width: 120px;
    top: 50px;
  }
 
  .part-2 .symbol2 {
    position: relative;  
    width: 100px;
    top: 160px;
  }
  .part-2 .date-time {     
    top: 520px;
    left: 15px;
      
  }  
  .date-time p {    
    font-size: 8px;
  }
  .part-2 .dear-people .text3 {
    width: 130px;
    top: 525px;
    right: 80px;
  }
  .part-2 .long-text {    
    font-size: 9px;    
    width: 280px;  
    top: 570px;
    margin-left: 30px;
  }
  .part-2 .hope-you .text4 {
    width: 265px;
    left: 10px;    
    top: 130px;
  }
  .part-2 .note1 {
    position: absolute;
    top: 810px;    
    font-size: 8px;
  }
  .part-2 .symbol3 {
    width: 50px;
    position: relative;
    top: 185px;
  }
  .part-3 .noonut img {
    width: 260px;  
    bottom: -220px;   
  }
  .part-3 .picture {
    bottom: -220px;    
    width: 300px; 
    gap: 20px; /* ระยะห่างระหว่างภาพ */    
  }
  .part-3 .picture img {
    width: 255px;    
  }
  .part-3 .map {
    bottom: -250px;
    width: 250px;  
  }
  .part-3 .note-2 {
    bottom: -250px;    
    font-size: 10px;
  }
  .part-3 .mapbutton {
    bottom: -250px;   
    width: 100px;
  }
}

/* Adding responsive styles for 600px screens */
@media (min-width: 600px) and (max-width: 767px) {
  .App-header {
    font-size: 20px;
    /* padding: 10px; */
  }

  .App-logo {
    height: 30vmin;
  }
  
  .welcome-text {
    font-size: 80px;
    font-family: 'AuthenticSignatureFont';
  }

  /* อนิเมชั่นตัวอักษรเคลื่อนไหว */
  .waveTextAnimated span {
      display: inline-block;
      -webkit-animation: wave-text 1s ease-in-out infinite;
      animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }

  .part-1 {
    margin-top: -180px;
  }

  .part-1 .symbol1 {    
    width: 120px;
    top: 50px;
  }
 
  .part-2 .symbol2 {
    position: relative;  
    width: 100px;
    top: 160px;
  }
  .part-2 .date-time {     
    top: 520px;
    left: 15px;
      
  }  
  .date-time p {    
    font-size: 8px;
  }
  .part-2 .dear-people .text3 {
    width: 130px;
    top: 525px;
    right: 80px;
  }
  .part-2 .long-text {    
    font-size: 9px;    
    width: 280px;  
    top: 570px;
    margin-left: 30px;
  }
  .part-2 .hope-you .text4 {
    width: 265px;
    left: 10px;    
    top: 130px;
  }
  .part-2 .note1 {
    position: absolute;
    top: 810px;    
    font-size: 8px;
  }
  .part-2 .symbol3 {
    width: 50px;
    position: relative;
    top: 185px;
  }
  .part-3 .noonut img {
    width: 260px;  
    bottom: -220px;   
  }
  .part-3 .picture {
    bottom: -220px;    
    width: 300px; 
    gap: 20px; /* ระยะห่างระหว่างภาพ */    
  }
  .part-3 .picture img {
    width: 255px;    
  }
  .part-3 .map {
    bottom: -250px;
    width: 250px;  
  }
  .part-3 .note-2 {
    bottom: -250px;    
    font-size: 10px;
  }
  .part-3 .mapbutton {
    bottom: -250px;   
    width: 100px;
  }
}

/* Adding responsive styles for 768px */
@media (min-width: 768px) and (max-width: 899px) {
  .App-header {
    font-size: 36px;
    padding: 40px;
  }

  .App-logo {
    height: 45vmin;
  }
  
  .welcome-text {
    font-size: 300px;
    font-family: 'AuthenticSignatureFont';
  }

  .waveTextAnimated span {
    display: inline-block;
    -webkit-animation: wave-text 1s ease-in-out infinite;
    animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }
  
}

/* Adding responsive styles for 900px */
@media (min-width: 900px) and (max-width: 1023px) {
  .App-header {
    font-size: 36px;
    padding: 40px;
  }

  .App-logo {
    height: 45vmin;
  }
  
  .welcome-text {
    font-size: 300px;
    font-family: 'AuthenticSignatureFont';
  }

  .waveTextAnimated span {
    display: inline-block;
    -webkit-animation: wave-text 1s ease-in-out infinite;
    animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }
  
}

/* Adding responsive styles for 1024px */
@media (min-width: 1024px) and (max-width: 1199px) {
  .App-header {
    font-size: 36px;
    padding: 40px;
  }

  .App-logo {
    height: 45vmin;
  }
  
  .welcome-text {
    font-size: 300px;
    font-family: 'AuthenticSignatureFont';
  }

  .waveTextAnimated span {
    display: inline-block;
    -webkit-animation: wave-text 1s ease-in-out infinite;
    animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }
  
}

/* Adding responsive styles for 1200px */
@media (min-width: 1200px) {
  .App-header {
    font-size: 36px;
    padding: 40px;
  }

  .App-logo {
    height: 45vmin;
  }
  
  .welcome-text {
    font-size: 300px;
    font-family: 'AuthenticSignatureFont';
  }

  .waveTextAnimated span {
    display: inline-block;
    -webkit-animation: wave-text 1s ease-in-out infinite;
    animation: wave-text 1s ease-in-out infinite
  }

  .waveTextAnimated span:nth-of-type(1) {
      -webkit-animation-delay: .2s;
      animation-delay: .2s
  }

  .waveTextAnimated span:nth-of-type(2) {
      -webkit-animation-delay: .3s;
      animation-delay: .3s
  }

  .waveTextAnimated span:nth-of-type(3) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
  }

  .waveTextAnimated span:nth-of-type(4) {
      -webkit-animation-delay: .5s;
      animation-delay: .5s
  }

  .waveTextAnimated span:nth-of-type(5) {
      -webkit-animation-delay: .6s;
      animation-delay: .6s
  }
  
}