.App {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

/* Fonts */
@font-face {
  font-family: 'Amettasignature';
  src: url('./fonts/Amettasignature.ttf') format('truetype');
}

@font-face {
  font-family: 'AuthenticSignatureFont';
  src: url('./fonts/Authentic Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'DBHeaventBdv3.2';
  src: url('./fonts/DB Heavent Bd v3.2.ttf') format('truetype');
}

@font-face {
  font-family: 'EdwardSignature';
  src: url('./fonts/Edward Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'HeySunsetBrushFont';
  src: url('./fonts/Hey Sunset Brush Font.ttf') format('truetype');
}

@font-face {
  font-family: 'MagistaBrush';
  src: url('./fonts/Magista Brush.ttf') format('truetype');
}

@font-face {
  font-family: 'Silom';
  src: url('./fonts/Silom.ttf') format('truetype');
}

@font-face {
  font-family: 'ThreeSignature';
  src: url('./fonts/Three Signature.ttf') format('truetype');
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('./fonts/AmericanTypewriter.ttc') format('truetype');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-splash {
  background-color: #F9F8E6;
  background-image: url('../public/background/background.jpg');  
  background-size: cover;
  background-repeat: no-repeat; /* Adjust to your needs */  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(58, 58, 58);  
  padding: 20px; /* Adjust spacing */
  box-sizing: border-box; /* Include padding in element size */
}

.HomePage {
  background-image: url('../public/background/bg_paper.jpg');
  background-position: 0 0;
  background-repeat: repeat-y;
  background-size: cover; /* ขยายขนาดภาพเพื่อครอบคลุมพื้นที่ */  
  background-attachment: scroll;
  display: block;
  transform: translate(0);  
}

.App-link {
  color: #61dafb;
}

/* CSS ส่วนของ part-1 */
.partone {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 100px;
}

/* CSS ส่วนของ part-2 */
.parttwo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 650px;
}

/* CSS ส่วนของ part-3 */
.partthree {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 800px;
  bottom: 0;
}


/* Components */
.music-loop-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999; /* อัพเดตค่า z-index เพื่อให้ปุ่มอยู่ด้านหน้า */
}

.music-loop-button button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;  
}

.music-button {
  position: fixed;
  top: 10px;
  right: -150px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.music-button img {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 50;
}

/* Style for the auto scroll button */
.auto-scroll-button {
  position: fixed;
  top: 10px;
  left: -150px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.auto-scroll-button img {
  width: 24px;
  height: 24px;
}

/* Style for the play animation */
.music-loop-button button img.play {
  animation: menurotate 3s linear 0s infinite normal none running;
  width: 24px;
  height: 24px;
}

/* Style for the pause animation */
.music-loop-button button img.pause {
  animation: auto ease 0s 1 normal none running;
  width: 24px;
  height: 24px;
}


/* Part. 2 :: */
/* Animate Adding */
/* Define the rotation animation */
@keyframes menurotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Adding WaveText */
@-webkit-keyframes wave-text {
  00% {
      transform: translateY(0)
  }

  60% {
      transform: translateY(-.6em)
  }

  100% {
      transform: translateY(0)
  }
}

@keyframes wave-text {
  00% {
      transform: translateY(0)
  }

  60% {
      transform: translateY(-.6em)
  }

  100% {
      transform: translateY(0)
  }
}

/* Adding heartbeat */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Part. 3 :: */
/* Responsive Screen Setting */

/* Adding responsive styles for mini screens */
@media (max-width: 479px) {
  .App {
    -webkit-text-fill-color: inherit;
    background-image: url('../public/background/bg_paper.jpg');
    background-position: 0 0;
    background-size: auto;
    background-attachment: fixed;
    background-clip: border-box;
  }

  .HomePage {
    background-image: url('../public/background/bg_paper.jpg');
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: cover; /* ขยายขนาดภาพเพื่อครอบคลุมพื้นที่ */  
    background-attachment: scroll;
    display: block;
    transform: translate(0);
  }

  .you-are {
    text-align: center;
    font-family: '';
    font-size: 15px;
    display: block;
    position: relative;
    top: 0;
  }

  .thewedding {
    z-index: 600;
    text-align: center;
    font-family: '';
    font-weight: 400;
    position: relative;
    top: 30px;
  }

  .image {
    text-align: left;
    object-fit: none;
    position: relative;
  }

  .container {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
    transition: opacity .3s;
    display: flex;
    position: relative;
    top: 200px;
    transform: rotate(0);
  }

  .image-2 {
    text-align: left;
  }

  .symbol-one {
    position: relative;
    top: 80px;
  }

  .container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .symbol-two {
    flex: 0 auto;
    position: relative;
  }

  .date-time {
    color: #5c5c5c;
    text-align: left;
    flex: 0 auto;
    font-family: '';
    font-size: 10px;
    font-weight: 400;
    position: relative;
    left: -40px;
    right: 0;
  }

  .partone {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 100px;
  }

  .parttwo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 650px;
  }

  .partthree {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 800px;
    bottom: 0;
  }

  .image-3 {
    position: relative;
    top: 0;
  }

  .paragraph-1 {
    z-index: 2;
    direction: ltr;
    color: #5c5c5c;
    text-align: left;
    text-transform: none;
    margin-bottom: 0;
    padding-top: 10px;
    font-family: '';
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
    display: block;
    position: relative;
    top: 0;
  }

  .image-4 {
    opacity: 1;
    position: relative;
    top: -25px;
    left: 14px;
  }

  .container-3 {
    position: relative;
    top: -320px;
  }

  .paragraph-1-copy {
    z-index: 2;
    direction: ltr;
    color: #5c5c5c;
    text-align: left;
    text-transform: none;
    margin-bottom: 0;
    font-family: '';
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
    display: block;
    position: relative;
    top: 0;
  }

  .note-one {
    color: #5c5c5c;
    text-align: center;
    font-family: '';
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    display: block;
    position: relative;
    top: -200px;
  }

  .image-5 {
    position: relative;
    top: -187px;
  }

  .image-6 {
    z-index: 3;
    position: relative;
  }

  .picture {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: -220px;
  }

  .pic-m {
    display: block;
    position: relative;
  }

  .pic-l {
    flex-flow: row;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    display: block;
    position: absolute;
  }

  .pic-r {
    display: block;
    position: absolute;
  }

  .image-7 {
    position: relative;
    top: -320px;
  }

  .text-block {
    color: #5c5c5c;
    font-family: "";
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    position: relative;
    top: -310px;
  }

  .image-8 {    
    cursor: pointer;
    position: relative;
    top: -300px;
  }
}